# LR #1: Git/CI
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pytest_cache/
.coverage
*.db
.venv/
venv/

# Environment
.env
.env.*
req.txt
manual.txt

# Coverage & SAST artifacts
cover
*-report.json

# Docker
docker-compose.override.yml
*.log

# AI session context (not for students)
README_AI.md

# IDEs
.vscode/
.idea/

# System
.DS_Store
Thumbs.db
